pipeline/Working.json
{
	"name": "Working",
	"properties": {
		"activities": [
			{
				"name": "MySql_to_bronze",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat('select distinct Table_Schema, Table_name from information_schema.columns where table_schema = \"', 'fintech\"')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "MySqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Looping_Lookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "MySql_to_bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MySql_to_bronze').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"additionalColumns": [
										{
											"name": "Active_status",
											"value": "Y"
										}
									],
									"query": {
										"value": "@concat('select * from ',item().Table_Schema ,'.',item().Table_Name)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "AvroWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MySqlTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Adls",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().Table_Schema",
											"type": "Expression"
										},
										"Table": {
											"value": "@item().Table_Name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}